*{
    margin: 0px;
    padding: 0px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user input{
    margin-top: 10px;
}
.user button{
    margin-top: 10px;
}